/* Título principal fijo */
.main-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 90px;
  text-align: center;
  color: aqua;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 8px #000, 0 0 20px #042d41;
  z-index: 20;
  margin: 0 auto;
  padding: 35px 0 0 0;
  user-select: none; 
  background: #000000a2;
  background-image: url("/ui/bottomBarLeft.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Video de fondo en loop */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 3;
  pointer-events: none;
  opacity: 0.2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}

/* Asegura que los botones y la UI estén por encima del canvas y el video */
.button {
  position: relative;
  z-index: 12;
  width: 200px;
  height: 50px;
  background-image: url("/ui/menuButton.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  color: rgb(121, 248, 248);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: right;
  padding-right: 30px;
  font-weight: 500;
  padding-bottom: 5px;
  transition: 0.1s;
}

.button:hover {
  filter: contrast(130%);
  scale: 1.5;
  transition: 0.1s;
  color: rgb(255, 188, 144);

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  text-align: center;
  color: rgb(121, 248, 248);
  font-size: 1rem;
  font-weight: 500;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
}

@media(max-width: 800px) {
  .button {
    justify-content: center;
    align-items: center;
  }
}