@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Video de fondo en loop */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 3;
  pointer-events: none;
  opacity: 0.2;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: 'Roboto', sans-serif;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}

/* Asegura que los botones y la UI estén por encima del canvas y el video */
.button {
  position: relative;
  z-index: 12;
  width: 200px;
  height: 50px;
  background-image: url("/ui/menuButton.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  color: rgb(121, 248, 248);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: right;
  padding-right: 30px;
  font-weight: 500;
  padding-bottom: 5px;
  transition: 0.1s;
}

.button:hover {
  filter: contrast(130%);
  scale: 1.01;
  transition: 0.1s;
  color: white;
}

@media(max-width: 800px) {
  .button {
    justify-content: center;
    align-items: center;
  }
}