#panel a {
    cursor: pointer;
}
#panel {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 12;
}

#panel img {
    position: absolute;
    top: 90px;
    left: 30vw;
    width: 64vw;
    height: 64vh; 
    z-index: 12;
}

#panel .title {
    position: absolute;
    top: 86px;
    left: 46vw;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: aqua;
    z-index: 12;
}

#panel .text {
    position: absolute;
    top: 190px;
    left: 40vw;
    color: rgb(255, 188, 144);
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 12;
}

@media(max-width: 800px ) {
    #panel {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #panel img {
        display: none;
    }

    #panel .title {
        top: 0;
        left: 0;
        text-align: center;
        position: inherit;
        margin-bottom: 50px;
    }

    #panel .text {
        top: 0;
        left: 0;
        position: inherit;
    }
    
}